.album {
    border: solid 1px green;
    background: yellow;
    padding: 5px;
    margin: 5px;
    width: 300px;
    height: 300px;
}

.images {
    border: solid 1px green;
    width: 300px;
    height: 250px;
}

.tableData {
    border: solid 1px black;
    width: 150px;
}

.tableHearder {
    color: blue;
    width: 200px;
    border: solid 1px black;
}

.headerPage {
    text-align: center;
    border: solid black 1px;
    background-color: #3596e0;
}
.central_button
{
    margin: auto;
}