.album {
    border: solid 1px green;
    background: yellow;
    padding: 5px;
    margin: 5px;
    width: 300px;
    height: 300px;
}

.images {
    border: solid 1px green;
    width: 300px;
    height: 250px;
}

.tableData {
    border: solid 1px black;
    width: 150px;
}

.tableHearder {
    color: blue;
    width: 200px;
    border: solid 1px black;
}

.headerPage {
    text-align: center;
    align-content: center;
    font-weight: bold;
    border: solid darkgreen 2px;
    height: 50px;
    background-color: aliceblue;
}
.central_button
{
    margin: auto;
}