<!DOCTYPE html>
@{
    Layout = null;
}
<html>
<head>
    <meta charset="UTF-8" />
    <title>Hello React!</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="http://code.jquery.com/jquery-2.1.3.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="~/wwwroot/node_modules/react-bootstrap-table/dist/react-bootstrap-table-all.min.css">
    <link href="~/wwwroot/asset/css/layout.css" asp-append-version="true" rel="stylesheet" />
    <link href="~/wwwroot/asset/css/searchbox.css" asp-append-version="true" rel="stylesheet" />

    <link href="~/wwwroot/asset/user_interface/css/user_all.css" type="text/css" rel="stylesheet" />
    <link href="/wwwroot/node_modules/sweetalert/dist/sweetalert.css" rel="stylesheet" type="text/css">
    <link href="/wwwroot/node_modules/react-toastify/dist/ReactToastify.min.css" rel="stylesheet" type="text/css">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.3/toastr.min.css">

</head>
<body>
    <div id="example"></div>
    <!-- Dependencies -->
    <script src="/wwwroot/node_modules/react/dist/react.js"></script>
    <script src="/wwwroot/node_modules/react-dom/dist/react-dom.js"></script>
    <script src="/wwwroot/node_modules/sweetalert/dist/sweetalert.min.js"></script>

    <!--User interface js-->
    <script src="/wwwroot/asset/user_interface/js/jquery.js"></script>
    <script src="/wwwroot/asset/user_interface/js/bootstrap.min.js"></script>
    <script src="/wwwroot/asset/user_interface/js/jquery.scrollUp.min.js"></script>
    <script src="/wwwroot/asset/user_interface/js/price-range.js"></script>
    <script src="/wwwroot/asset/user_interface/js/jquery.prettyPhoto.js"></script>
    <script src="/wwwroot/asset/user_interface/js/main.js"></script>

    <!-- Main -->
    <script src="/wwwroot/dist/bundle.js"></script>

</body>
</html>